table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: auto;
}

h1 {
    color: rgba(0, 0, 255, 1);
    text-align: center;
    font-weight: bold;
}

caption {
    color: rgba(0, 126, 251, 1);
    font-size: 25px;
}

th {
 width: 100px;
 font-weight: bold;
 background-color: rgba(120, 185, 255, 1);
 text-align: center;
}